<!DOCTYPE html>
<html>
<head>
    @*@Scripts.Render("~/bundles/modernizr")*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- your templete tilte gose here. -->
    <title>The Studio Craft - take a take</title>
    <!-- favicon icons. -->
    <link rel="apple-touch-icon" href="@Url.Content("/assets/img/favicon/apple-touch-icon.png")">
    <link rel="icon" href="@Url.Content("/assets/img/favicon/favicon.ico")">
    <!-- your site's free font. -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- all css file. -->
    <link href="@Url.Content("/assets/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("/assets/css/venobox.css")" rel="stylesheet">
    <link href="@Url.Content("/assets/css/elements.css")" rel="stylesheet">
    <link href="@Url.Content("/assets/css/themify-icons.css")" rel="stylesheet">
    <link href="@Url.Content("/assets/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("/assets/css/normalize.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("/assets/css/demo.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("/assets/css/style.css")" rel="stylesheet">
    <link href="@Url.Content("/assets/css/responsive.css")" rel="stylesheet">

    <script src="@Url.Content("/assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("/assets/js/bootstrap.min.js")"></script>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141699843-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-141699843-1');
    </script>

</head>
<body class="homepage-3 contact-page dark">
    <a href="#home" class="scrolltotop"><i class=" faa-bounce animated fa fa-long-arrow-up"></i> </a>
    <!-- preloder. -->
    <div class="preloader-wrapper">
        <div class="preloder">
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
            <div class="shape shape-3"></div>
            <div class="shape shape-4"></div>
        </div>
    </div>

    <!-- start main wrapper. -->
    <div id="fullpage">
        <!-- mouse follower. -->
        <div id="follower"></div>
        <!-- start header section. -->
        <header id="sticker" class="header-top">
            <!-- full page menu. -->
            <div class='navbar-toggles' title='Menu'>
                <div class='bar1'></div>
                <div class='bar2'></div>
                <div class='bar3'></div>
            </div>
            <nav class="nav-hide">
                <ul>
                    @*<li class="dropdown current-menu-item current-menu-has-children">
                            <a href="#">Home</a>
                            <ul class="dropdown-nav dropdown-nav-left">
                                <!--<li class=""><a href="index.html">Home Dark Parsonal</a> </li>-->
                                <li class=""><a href="@Url.Action("Index","Home")">Home</a> </li>
                                <!--<li class=""><a href="../ozlan-lite/index.html">Home Lite Parsonal</a> </li>
                                <li class=""><a href="../ozlan-lite/index-2.html">Home Lite Agency</a>-->
                            </ul>
                        </li>*@

                    @*</li>*@
                    <li>
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","About")">About</a>
                    </li>
                    @*<li class="dropdown current-menu-item current-menu-has-children">
                            <a href="single-portfolio.html">Portfolio</a>
                            <ul class="dropdown-nav dropdown-nav-left">
                                <li class="">
                                    <a href="single-portfolio-2.html">Single Portfolio</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown current-menu-item current-menu-has-children">
                            <a href="#blog">Blog</a>
                            <ul class="dropdown-nav dropdown-nav-left">
                                <li class="">
                                    <a href="blog-single-post.html">Blog standard</a>
                                </li>
                                <li class="">
                                    <a href="blog-details.html">Blog Details</a>
                                </li>
                            </ul>
                        </li>*@
                    <li>
                        <a href="@Url.Action("Index","Contact")">Contact</a>
                    </li>
                </ul>
            </nav>
            <!-- full page menu end. -->
            <div class="container-fulid">
                <div class="col-md-2">
                    <div class="logo">
                        <a href="@Url.Action("Index","Home")">
                            <img src="@Url.Content("/assets/img/logo/ozlan2.png")" alt="place img">
                        </a>
                    </div>
                </div>
                <div class="col-md-10">

                </div>
            </div>
        </header>
        <!-- end header section. -->
        @RenderBody()

        <!-- start clients logo section. -->
        <section class="clinets-aera section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>Ours Valuable Clients</h2>
                        </div>
                    </div>
                </div>
                <div class="clinets-carosule-active">
                    <div class="client-single-item">
                        <a href="#">
                            <img src="@Url.Content("/assets/img/client-logo/1.png")" alt="place img">
                        </a>
                    </div>
                    <div class="client-single-item">
                        <a href="#">
                            <img src="@Url.Content("/assets/img/client-logo/2.png")" alt="place img">
                        </a>
                    </div>
                    <div class="client-single-item">
                        <a href="#">
                            <img src="@Url.Content("/assets/img/client-logo/3.png")" alt="place img">
                        </a>
                    </div>
                    <div class="client-single-item">
                        <a href="#">
                            <img src="assets/img/client-logo/6.png" alt="place img">
                        </a>
                    </div>
                    <!--<div class="client-single-item">
                        <a href="#">
                            <img src="assets/img/client-logo/5.png" alt="place img">
                        </a>
                    </div>
                    <div class="client-single-item">
                        <a href="#">
                            <img src="assets/img/client-logo/1.png" alt="place img">
                        </a>
                    </div>
                    <div class="client-single-item">
                        <a href="#">
                            <img src="assets/img/client-logo/2.png" alt="place img">
                        </a>
                    </div>-->
                </div>
            </div>
        </section>
        <!-- end clients logo section. -->
        <!-- start contact form section. -->
        <section id="contact" class="contact-form-area section">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="contact-text">
                            <p class="contact-info">
                                Let’s make something new, different and more meaningful or make thing more visual
                                <br>or Conceptual ? <span> Just Say Hello !</span>
                                <img src="@Url.Content("/assets/img/brand-icons/indigatore-icon.png")" alt="place img" class="faa-passing animated">
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="contact-form-area-wrapper">
                            <form id="digita-contact-form" action="php/contact-mail.php" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Name" name="name" placeholder="Your Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="Email" name="email" placeholder="Email Address">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Budget" name="Budget" placeholder="Your Budget (Optional)">
                                </div>
                                <div class="form-group">
                                    <textarea id="Message" class="form-control" rows="3" name="message" placeholder="Project Description"></textarea>
                                </div>
                                @*<div class="form-group">
                                        <label>Regarding</label><br />
                                        <input type="radio" name="inqType" value="Branding"> Branding<br>
                                        <input type="radio" name="inqType" value="Designing"> Designing<br>
                                        <input type="radio" name="inqType" value="Career"> Career<br>
                                        <input type="radio" name="inqType" value="Collabration"> Collabration<br>

                                    </div>*@
                                <div class="form-group">

                                    <select name="inqType" class="form-control  ddlregarding" placeholder="Regarding" required>
                                        <option value="" selected>Contact Regarding ?</option>
                                        <option value="Branding">Branding</option>
                                        <option value="Designing">Designing</option>
                                        <option value="Career">Career</option>
                                        <option value="Collaboration">Collaboration</option>
                                    </select>

                                </div>


                                <button type="submit" class="comman-btn about-me-btn">
                                    SUBMIT
                                    <img src="@Url.Content("/assets/img/brand-icons/hover-icon.png")" alt="place img" class="">
                                </button>
                                <p class="contact-send-message"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end contact form section. -->
        <!-- start location section. -->
        <section class="location-area section">
            <!-- start background line shape animation. -->
            <div class="container-line">
                <div class="container-line-center">
                    <div class="line-item one"></div>
                    <div class="line-item two"></div>
                    <div class="line-item three"></div>
                    <div class="line-item four"></div>
                </div>
            </div>
            <!--  end background line shape animation. -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="location-link">
                            <ul>
                                <li>
                                    <p class="single-contact-info">
                                        <a href="tel:+919510983341">+91 8866610791/9510983341 </a>
                                    </p>
                                </li>
                                <li>
                                    <p class="single-contact-info">
                                        <a href="mailto:info@thestudiocraft.com">info@thestudiocraft.com</a>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Ahmedabad ,
                                        <br>India
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="hero-social-link">
                            <ul class="list-inline socialmediaIcons">
                                <li>
                                    <a href="https://www.instagram.com/thestudiocraft/"><span class="ti-instagram"></span></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/thestudiocraft/"><span class="ti-facebook"></span></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCcVYZpBL0HUlJXdhgbjwWuQ/featured"><span class="ti-youtube"></span></a>
                                </li>
                                <!--<li>
                                    <a href="#"><span class="ti-twitter"></span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="ti-vimeo"></span></a>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end location section. -->
        <!-- start footer section. -->
        <section class="footer-bottom-area section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-bottom-text">
                            <p>
                                Copyright © 2019 <a href="#" class="theme-info">The Studio Craft</a>, All rights Reserved.
                                <br>Created by The Studio Craft
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end footer section. -->
    </div>
    <!-- end main wrapper. -->


    <script src="@Url.Content("/assets/js/scrollclass.min.js")"></script>
    <script src="@Url.Content("/assets/js/venobox.js")"></script>
    <script src="@Url.Content("/assets/js/plugins.js")"></script>
    <script src="@Url.Content("/assets/js/imagesloaded.pkgd.min.js")"></script>
    <script src="@Url.Content("/assets/js/anime.min.js")"></script>
    <script src="@Url.Content("/assets/js/demo1.js")"></script>
    <script src="@Url.Content("/assets/js/main.js")"></script>



</body>
</html>
