
@{
    ViewBag.Title = "Index";
}

<title>The Studio Craft - About us</title>
<!-- start header hero section. -->
<section id="home" class="header-hero-area contact-page section">
    <!-- morph background animation. -->
    <div class="morph-wrap">
        <svg class="morph" width="1400" height="770" viewBox="0 0 1400 770">
            <path d="M 262.9,252.2 C 210.1,338.2 212.6,487.6 288.8,553.9 372.2,626.5 511.2,517.8 620.3,536.3 750.6,558.4 860.3,723 987.3,686.5 1089,657.3 1168,534.7 1173,429.2 1178,313.7 1096,189.1 995.1,130.7 852.1,47.07 658.8,78.95 498.1,119.2 410.7,141.1 322.6,154.8 262.9,252.2 Z" />
        </svg>
    </div>
    <!-- morph background animation end. -->
    <!-- line shape background animation. -->
    <div class="container-line">
        <div class="container-line-center">
            <div class="line-item one"></div>
            <div class="line-item two"></div>
            <div class="line-item three"></div>
            <div class="line-item four"></div>
        </div>
    </div>
    <!-- line shape background animation end. -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="slider-text ">
                    <h1>About Us</h1>
                    <div class="back-links">
                        <ul class="list-inline">
                            <li>
                                <a href="@Url.Action("Index","Home")">Home</a>
                            </li>
                            <li class="active">
                                <a href="#">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end header hero section. -->
<!-- start about-us section. -->
<section id="about" class="about-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="about-left about-us">
                    <img src="@Url.Content("/assets/img/feature-img/21.jpg")" alt="place img">
                </div>
            </div>
            <div class="col-md-7">
                <div class="about-right">
                    <h2>About Us</h2>
                    <p>We’re one of a kind creative agency for your business. We specialize in design, development, and branding.</p>
                    <p>Since 2012, we have been developing strategic ideas into virtual spaces like sketching and formulating custom websites and other digital platforms for businesses and Individuals and helping them grow their business and reach globally through creativity and technology.</p>
                    <p>We specialize in crafting reelity and formulating designs with our detailed research centric approach. We also excel in branding & identity design and digital strategy consulting.</p>
                    <p>As a Digital Media Agency, we have ample resources to squeeze out optimum output. We understand the expectations and demands one would have from a professional Digital Media Agency – the maximum ROI (Return On Investment). As a devoted Digital Media solution company, we support clients round the clock to achieve that goal. We strongly believe that client satisfaction is the final goal achieved.</p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- end about-us section. -->
<!-- start service section. -->
<section id="service" class="service-area section-padding section">
    <!-- line shape background animation start -->
    <div class="container-line">
        <div class="container-line-center">
            <div class="line-item one"></div>
            <div class="line-item two"></div>
            <div class="line-item three"></div>
            <div class="line-item four"></div>
        </div>
    </div>
</section>

<section class="testimonial-area section-padding section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Testimonials</h2>
                    @*<p>Lorem ipsum dolor aniamet, consecte tempor incididunt ut labore niamet dolore tumber tur adipisicing elit labor.</p>*@
                </div>
            </div>
        </div>
        <div class="jems-testi-active">
            <div class="jems-testi-wrepper">
                <div class="jems-testi-inner">
                    <p class="testi-content">"The studio craft team did an excellent job by illustrating our entire idea into reality. Jay and his team made sure that we were updated throughout the process and gave us insight to convey our intentions well. We would highly recommend the studio craft if you are looking to build your brand online"</p>
                    <div class="jems-testi-meta">
                        <img src="@Url.Content("/assets/img/testi-img/review-img.png")" alt="place img">
                        <h3>Ramesh Marand</h3>
                        <span>CEO- Shaligram Infotech</span>
                    </div>
                </div>
            </div>
            <div class="jems-testi-wrepper">
                <div class="jems-testi-inner">
                    <p class="testi-content">"We have gone up so much from the great work that the studio craft team has done from launching our Youtube channel to hosting marketing events and promoting our online presence. Our brand get recognized from your efforts. We are happy that the results of your efforts were lasting and helping us to make a mark in the market. Looking forward for a life long branding-partnership"</p>
                    <div class="jems-testi-meta">
                        <img src="@Url.Content("/assets/img/testi-img/comment-2.png")" alt="place img">
                        <h3>Pratima</h3>
                        <span>Tale Poetry</span>
                    </div>
                </div>
            </div>
            <div class="jems-testi-wrepper">
                <div class="jems-testi-inner">
                    <p class="testi-content">"The Studio craft has made a huge difference to our business with his good work and knowledge of web creation and SEO. Our online presence are better than ever and we are getting more engagements. Thanks to Studio Craft Team."</p>
                    <div class="jems-testi-meta">
                        <img src="@Url.Content("/assets/img/testi-img/comment-3.png")" alt="place img">
                        <h3>Dr. Hiren Patel</h3>
                        <span>Anant Hospital</span>
                    </div>
                </div>
            </div>
            @*<div class="jems-testi-wrepper">
                <div class="jems-testi-inner">
                    <p class="testi-content">"What do you need to start a business? Three simple things know your product as better tomer, and have a burning desire to succeed."</p>
                    <div class="jems-testi-meta">
                        <img src="@Url.Content("/assets/img/testi-img/comment-1.png")" alt="place img">
                        <h3>Gary Torres</h3>
                        <span>CEO at Giant Theme</span>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>
<!-- testimonial section end.-->

