
@{
    ViewBag.Title = "ThankYou";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @*@Scripts.Render("~/bundles/modernizr")*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- your templete tilte gose here. -->
    <title>The Studio Craft - take a take</title>
    <!-- favicon icons. -->
    <link rel="apple-touch-icon" href="@Url.Content("/assets/img/favicon/apple-touch-icon.png")">
    <link rel="icon" href="@Url.Content("/assets/img/favicon/favicon.ico")">
    <!-- your site's free font. -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- all css file. -->
    <link href="@Url.Content("/assets/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("/assets/css/venobox.css")" rel="stylesheet">
    <link href="@Url.Content("/assets/css/elements.css")" rel="stylesheet">
    <link href="@Url.Content("/assets/css/themify-icons.css")" rel="stylesheet">
    <link href="@Url.Content("/assets/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("/assets/css/normalize.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("/assets/css/demo.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("/assets/css/style.css")" rel="stylesheet">
    <link href="@Url.Content("/assets/css/responsive.css")" rel="stylesheet">

    <script src="@Url.Content("/assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("/assets/js/bootstrap.min.js")"></script>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141699843-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-141699843-1');
    </script>

</head>
<body class="homepage-3 contact-page dark">
    <a href="#home" class="scrolltotop"><i class=" faa-bounce animated fa fa-long-arrow-up"></i> </a>
    <!-- preloder. -->
    <div class="preloader-wrapper">
        <div class="preloder">
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
            <div class="shape shape-3"></div>
            <div class="shape shape-4"></div>
        </div>
    </div>

    <!-- start main wrapper. -->
    <div id="fullpage">
        <!-- mouse follower. -->
        <div id="follower"></div>
        <!-- start header section. -->
        <header id="sticker" class="header-top">
            <!-- full page menu. -->
            <div class='navbar-toggles' title='Menu'>
                <div class='bar1'></div>
                <div class='bar2'></div>
                <div class='bar3'></div>
            </div>
            <nav class="nav-hide">
                <ul>
                    <li>
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","About")">About</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Contact")">Contact</a>
                    </li>
                </ul>
            </nav>
            <!-- full page menu end. -->
            <div class="container-fulid">
                <div class="col-md-2">
                    <div class="logo">
                        <a href="@Url.Action("Index","Home")">
                            <img src="@Url.Content("/assets/img/logo/ozlan2.png")" alt="place img">
                        </a>
                    </div>
                </div>
                <div class="col-md-10">

                </div>
            </div>
        </header>
        <!-- end header section. -->

        <section id="home" class="header-hero-area contact-page section">
            <div class="morph-wrap">
                <!-- morph background animation. -->
                <svg class="morph" width="1400" height="770" viewBox="0 0 1400 770">
                    <path d="M 262.9,252.2 C 210.1,338.2 212.6,487.6 288.8,553.9 372.2,626.5 511.2,517.8 620.3,536.3 750.6,558.4 860.3,723 987.3,686.5 1089,657.3 1168,534.7 1173,429.2 1178,313.7 1096,189.1 995.1,130.7 852.1,47.07 658.8,78.95 498.1,119.2 410.7,141.1 322.6,154.8 262.9,252.2 Z" />
                </svg>
            </div>
            <!-- morph background animation end. -->
            <!-- line shape background animation. -->
            <div class="container-line">
                <div class="container-line-center">
                    <div class="line-item one"></div>
                    <div class="line-item two"></div>
                    <div class="line-item three"></div>
                    <div class="line-item four"></div>
                </div>
            </div>
            <!-- line shape background animation end. -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="slider-text ">
                            <h1>Thank you</h1>
                            <div class="back-links">
                                <ul class="list-inline">
                                    <li>
                                        <a href="@Url.Action("Index","Home")">Home</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Thank You</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="address-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-4 col-sm-4 ">
                            <div class="single-address">
                                <span class="ti-headphone-alt"></span>
                                <p class="single-contact-info">
                                    <a href="tel:+919510983341">+91 8866610791</a>
                                    <br><a href="tel:+91886610791"> +91 9510983341</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 ">
                            <div class="single-address">
                                <span class="ti-map-alt"></span>
                                <p>Ahmedabad ,India</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 ">
                            <div class="single-address">
                                <span class=" ti-email"></span>
                                <p class="single-contact-info">
                                    <a href="mailto:info@thestudiocraft.com">info@thestudiocraft.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="get-in-touch-area ">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="get-in-touch">
                            <h2>Thank you</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- start clients logo section. -->
        <section class="clinets-aera section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>Ours Valuable Clients</h2>
                        </div>
                    </div>
                </div>
                <div class="clinets-carosule-active">
                    <div class="client-single-item">
                        <a href="#">
                            <img src="@Url.Content("/assets/img/client-logo/1.png")" alt="place img">
                        </a>
                    </div>
                    <div class="client-single-item">
                        <a href="#">
                            <img src="@Url.Content("/assets/img/client-logo/2.png")" alt="place img">
                        </a>
                    </div>
                    <div class="client-single-item">
                        <a href="#">
                            <img src="@Url.Content("/assets/img/client-logo/3.png")" alt="place img">
                        </a>
                    </div>
                    <div class="client-single-item">
                        <a href="#">
                            <img src="@Url.Content("/assets/img/client-logo/6.png")" alt="place img">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end clients logo section. -->
        <!-- start contact form section. -->
        <!-- end contact form section. -->
        <!-- start location section. -->
        <section class="location-area section">
            <!-- start background line shape animation. -->
            <div class="container-line">
                <div class="container-line-center">
                    <div class="line-item one"></div>
                    <div class="line-item two"></div>
                    <div class="line-item three"></div>
                    <div class="line-item four"></div>
                </div>
            </div>
            <!--  end background line shape animation. -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="location-link">
                            <ul>
                                <li>
                                    <p class="single-contact-info">
                                        <a href="tel:+919510983341">+91 8866610791/9510983341 </a>
                                    </p>
                                </li>
                                <li>
                                    <p class="single-contact-info">
                                        <a href="mailto:info@thestudiocraft.com">info@thestudiocraft.com</a>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Ahmedabad ,
                                        <br>India
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="hero-social-link">
                            <ul class="list-inline socialmediaIcons">
                                <li>
                                    <a href="https://www.instagram.com/thestudiocraft/"><span class="ti-instagram"></span></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/thestudiocraft/"><span class="ti-facebook"></span></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCcVYZpBL0HUlJXdhgbjwWuQ/featured"><span class="ti-youtube"></span></a>
                                </li>
                                <!--<li>
                                <a href="#"><span class="ti-twitter"></span></a>
                            </li>
                            <li>
                                <a href="#"><span class="ti-vimeo"></span></a>
                            </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end location section. -->
        <!-- start footer section. -->
        <section class="footer-bottom-area section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-bottom-text">
                            <p>
                                Copyright © 2019 <a href="#" class="theme-info">The Studio Craft</a>, All rights Reserved.
                                <br>Created by The Studio Craft
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end footer section. -->
    </div>
    <!-- end main wrapper. -->


    <script src="@Url.Content("/assets/js/scrollclass.min.js")"></script>
    <script src="@Url.Content("/assets/js/venobox.js")"></script>
    <script src="@Url.Content("/assets/js/plugins.js")"></script>
    <script src="@Url.Content("/assets/js/imagesloaded.pkgd.min.js")"></script>
    <script src="@Url.Content("/assets/js/anime.min.js")"></script>
    <script src="@Url.Content("/assets/js/demo1.js")"></script>
    <script src="@Url.Content("/assets/js/main.js")"></script>



</body>
</html>


